OSINTCLI_TIMEOUT=15s
OSINTCLI_OUTPUT=./reports
OSINTCLI_USER_AGENT=osintcli/1.0
OSINTCLI_SHODAN_API_KEY=
OSINTCLI_SECURITYTRAILS_API_KEY=
OSINTCLI_SPIDERFOOT_COMMAND=
# Local SpiderFoot web UI / service, started via: python3 ./sf.py -l 127.0.0.1:5001
OSINTCLI_SPIDERFOOT_URL=http://127.0.0.1:5001
OSINTCLI_SPIDERFOOT_RESULTS_PATH=
OSINTCLI_MALTEGO_COMMAND=
OSINTCLI_MALTEGO_RESULTS_PATH=
